@import '../../../../src/styles/variables/variables.scss';

.userPageLanding{
    background: $mainBg;
    font-family: $mainFont;
    color: $textColorDK;

    display: flex;
    flex-direction: column;
    display: flex;
    max-width: 100%;
    flex-grow: 1;
    .navTabs{
        padding: $paddingMd $paddingLg 0px $paddingLg;
        background-color: #F2CC8F;
        
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        .headerUserPage{
            display: flex;
            align-items: center;
            width: 100%;
            margin-bottom: $marginSm;
            h1{
                font-size: 24px;
                margin: 5px;
                width: 100%;
                text-align: center;
            }
        }
        button{
            font-family: $mainFont;
            padding: $paddingMd;
            border-top: 1px solid $textColorLt;
            border-left: 1px solid $textColorLt;
            border-right: 1px solid $textColorLt;
            border-bottom: 0px solid $textColorLt;

            font-size: $fontSizeSm;
            color: #Ffffff;
            font-weight: 700;
            color: $textColorLt;
            background-color: $textColorDK;
            &.active{
                background-color: $textColorLt;
                color: $textColorDK;
                border-top: 1px solid $textColorDK;
                border-left: 1px solid $textColorDK;
                border-right: 1px solid $textColorDK;

                scale: 1.05;
            }

            &:first-child{
                border-top-left-radius: $radiusLg;
            }
            &:nth-child(3){
                border-top-right-radius: $radiusLg;
            }

            &:hover{
                cursor: pointer;
            }
        }
        
    }
    .pageContent{
        display: flex;
        flex-grow: 1;
        padding: $paddingMd;
        border-top: 1px solid $textColorLt;

        div{
            background-color: $mainBg;
            width: 100%;
        }
        &.active{
            background-color: $textColorLt;
            // min-height: fit-content !important;
        }
    }
}