.App {
  text-align: center;
}

.res{
  width: 90vw;
  height: 90vh;
  border: 1px solid black;
}
/*_________ INGREDIENTS LIST__________ */


#spoonacular-ingredient-vis-list{
  display:none;
}

#spoonacular-ingredients-menu a{
  display: none;
}

#spoonacularView{
  display:none;
}


.pic{
  width: 50vw;
  height: 50vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
