html{
  /* background-image: url('../src/img/backGround.jpeg'); */
  opacity: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;

}
.App {
  text-align: center;
  font-family: 'Luxurious Roman', cursive;
  background: #f4f1ea01;
   opacity:1;
   padding: 0;
   margin: 0;
}


/* _____________________NAVIGATION BAR____________________ */

.links{
  text-decoration: none;
  color: #F2C53D;
  
}

.links:hover{
  text-decoration:underline;
}

.NavigationBar{
  display: flex;
  border: 1px solid #0D0D0D;
  width: 100vw;
  height: 8vh;
  font-size: 30px;
  background: -webkit-linear-gradient(90deg, #274001 10%, #0D0D0D 80%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #274001  10%, #0D0D0D 80%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #274001  10%, #0D0D0D 80%); /* IE10 */
  background:      -o-linear-gradient(90deg, #274001  10%, #0D0D0D 80%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #274001  10%, #0D0D0D 80%); /* W3C */
  align-items: center;
  justify-content: center;
  color: #F2C53D;
  box-shadow:1px 1px 1px 1px #F2A922 ;
}

.homePageLinks{
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  right: 3vw;
  font-size: 30px;
  color: #F2C53D;
  
}
.homePageLinks p{
  margin-left: 2vw;
}


.userNavigation{
  display: flex;
  justify-content: space-around;
  position: absolute;
  right: 3vw;
}
.userNavigation p{
  margin-left: 6vw;
}

               /*USER MENU  */
.menuBar{
  position: absolute;
  left:8vw;
  display: inline-block;
}
.menuBar p:hover{
  color: rgb(184, 184, 184);
  text-shadow:1px 1px #000000;
  cursor:pointer;
}
.menuLinks{
  position: absolute;
  left: -4vw;
  display: none;
  background: -webkit-linear-gradient(90deg, #274001 10%, #0D0D0D 80%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #274001  10%, #0D0D0D 80%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #274001  10%, #0D0D0D 80%); /* IE10 */
  background:      -o-linear-gradient(90deg, #274001  10%, #0D0D0D 80%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #274001  10%, #0D0D0D 80%); /* W3C */
  z-index: 1;
  animation: growDown 300ms;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid black;
  
}
@keyframes growDown {
  0% {transform:translateX(-70%);}

 
  100% {transform:translateX(0%);}
}
.menuBar:hover .menuLinks{
  display: flex;
  flex-direction: column;
 
}
.menuNavLink:hover {
  color: #F27F1B;
  
}

              /*USER MENU END */


/* ________________NAVIGATION BAR END____________________ */
/* ________________Home page END____________________ */

.HomePage{
  
  width: 100vw;
  height: 40vh;
}
.HomePage h1{

  margin-top: 0;
  font-size: 12vh;
}

.homepageBanner{
  width: 100vw;
  height:60vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: row-reverse;
}
/* ________________Home page END____________________ */



/* ________________SIGNUP AND LOGIN FORMS____________________ */

.FormBottomBanner{
  background-image: url("../src/img/assorted.jpeg");
  background-size:cover;
  background-position:top;
  background-repeat: no-repeat;
  width: 100vw;
  height: 30vh;
  position: fixed;
  bottom: 0;
  border-top: 2px solid #F2A922;;
  padding: 1vh;
  box-shadow:2px 2px 2px 2px #F2A922;
  
}
.AuthPage{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.AuthForm{
  display: flex;
  flex-direction: column;
  box-shadow:-.5px -.5px 5px 5px #f2a922d0;
  align-items: center;
  margin-top: 15vh;
  margin-left: 3vw;
  /* border: 2px solid #274001; */
  border-radius: 1.5vh;
  width: 30vw;
  padding: 2vh;
  background-color: #F2C53D;
}
.subAuthForm{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  
  margin: 3px;
  padding: 2vh;
}

.formInput{
  margin-right: 1vw;
  font-size: 20px;
  margin-top: 1vh;
  font-weight: 600;
  /* width: 25vw; */
}
.formInput input{
  font-size: 20px;
  margin-left: 10px;
  font-family: 'Luxurious Roman', cursive;
  padding: .1vh;
}
.formButton{
  margin-right:3vw;
  font-family: 'Luxurious Roman', cursive;
  font-weight: 800;
  letter-spacing: .05vw;
  font-size: large;
  border-radius: 1vh;
  background:#F2A922 ;
}
.formButton:hover{
  background-color:#F27F1B ;
}

/* ________________SIGNUP AND LOGIN FORMS END____________________ */

/* ________________USER PAGE____________________ */
.UserPage{
background-image: url('../src/img/backGround.jpeg');
background-size: cover;
background-position: center;
margin-bottom: 0px;
padding: 0%;
height: 100vh;

}
.allCatBanner{
  background-image: url('./img/categoryBanner.jpeg');
  height: 10vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  border: 1px solid #274001;
  box-shadow: -1px -1px 2.5px 2.5px #274001;
 
}
.Addcategory{
  position: absolute;
  margin-top: 1vh;
  right: 2vw;
  display: flex;
  flex-direction: column;
  border: 1px solid #0D0D0D;
  background: -webkit-linear-gradient(90deg, #274001 10%, #0D0D0D 80%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #274001  10%, #0D0D0D 80%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #274001  10%, #0D0D0D 80%); /* IE10 */
  background:      -o-linear-gradient(90deg, #274001  10%, #0D0D0D 80%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #274001  10%, #0D0D0D 80%); /* W3C */
  padding: 1vh;
  border-radius: 1vh;
  font-size: 18px;
  font-weight: 800;
  color:#F2C53D ;
  letter-spacing: .8px;
}

/* ________________USER PAGE END____________________ */


/* ________________CATEGORY SECTION____________________ */

.CategorySection{
  display: flex;
  flex-direction: column;
  box-shadow: -1px -1px 2.5px 2.5px #274001;
  margin-top: 2vh;
  margin-left: 0;
  margin-right: 0;
  padding: 1.5vh;
  border-radius: 5px;
  background-image: url('./img/honeyBack.jpeg');
  background-size: cover;
  background-position: center;
  opacity: 1;
}

 .deleteCat{

  height: 3vh;
  position: absolute;
  right: 15vw;
  background: none;
  border: none;
  font-size: 20px;
  font-family: 'Luxurious Roman', cursive;
  font-weight: 900;
  letter-spacing: .8px;

}
.deleteCat:hover{
  text-decoration: underline;
}
.deleteCat:active{
  color:#F27F1B ;
}
.addRecipeButton{
  height: 3vh;
  background: none;
  border: none;
  font-size: 20px;
  font-family: 'Luxurious Roman', cursive;
  font-weight: 900;
  letter-spacing: .8px; 
}
.addRecipeButton:hover{
  text-decoration: underline;
}
.addRecipeButton:active{
  color:#F27F1B ;
}

.allTheCategories{
  margin-top: 15vh;
  margin-left:3vw;
  margin-right:3vw;
  padding: 3vh;
}
.removeRecipe{
height:30px;
width: 30px;
margin-left: 20vw;
margin-bottom: 1vh;
border-radius: 15px;
border-color: black;
}
.removeRecipe:hover{
  background:#F27F1B ;
}



/* ________________CATEGORY SECTION END____________________ */



/* ________________SINGLE CATEGORY____________________ */
.singleCat{
  border:1px solid #0D0D0D;
  box-shadow: -1px -1px 2.5px 2.5px #274001;
  margin: 1vh;
  border-radius: 1vh;
  background-color: white;
  min-height: 33vh;
  margin-top: 7vh;
  margin-bottom: 2vh;
  padding: 1vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  opacity: 1;
  
}
.categoryTitle{
  position:absolute;
  margin-left: 1vw;
  border: 1px solid #274001;
  box-shadow: -1px -1px 2.5px 2.5px #274001;
  border-radius: 3px;
  margin-top: 1vh;
  padding-bottom: 1vh;
  width: 25vw;
  height: 3vh;
  font-size: 25px;
  font-weight: 900;
  letter-spacing: 1px;
  background: #ffffff69;
  opacity: 1;
  text-shadow: 1px 1px #274001;
  

}

.linksRecipe:hover{
  text-decoration: underline;
  cursor: pointer;
}

/* ________________SINGLE CATEGORY END____________________ */

/* ________________ SEARCH PAGE____________________ */

/* .searchBanner{
  background-image:url('./img/colorBanner.jpeg');
  width: 100vw;
  height: 15vh;
  background-position: center;
  background-size: cover;
  opacity: 1;
  z-index: 0;
} */

.SearchSection{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  padding: 2vw;
  background-image: url('./img/eggs.jpeg');
  background-position: center;
  background-size: cover;
  opacity: 1;
  height: 90vh;
  overflow: scroll;
  
}
.resultsSection{
  display: flex;
  width: 90vw;
  /* min-height:90vh;
  max-height: 90vh; */
  flex-wrap:wrap;
  justify-self:center ;
  justify-content:center;
  align-items: center;
  border-radius: 1vh;
  padding: 2vh;
  margin-top: 4vh;
  border:1px solid #0D0D0D;
  box-shadow: -1px -1px 2.5px 2.5px #274001;
  background-color: rgba(255, 255, 255, 0.81);
}
.singleResult{
  font-weight: 900;
  letter-spacing: .2px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  width: 22vw;
  height: 30vh;
  padding: 2vh;
  border: 1px solid rgba(40, 36, 36, 0.783);
  margin: 1vw;
  border-radius: 1vw;
  box-shadow: -.5px -.5px 3.5px 1.5px #274001;
  background: #F2C53D;  
  /* animation: rotation 4s; */
 
}
@keyframes rotation {
  0% {
    width: 20vw;
    height: 23vh;
  }
  50% {
    width: 26vw;
    height: 23vh;
  }
  100% {
    width: 20vw;
    height: 23vh;
  }
}
@keyframes rotationInv {
  0% {
    width: 20vw;
    height: 23vh;
  }
  50% {
    width: 14vw;
    height: 23vh;
  }
  100% {
    width: 20vw;
    height: 23vh;
  }
}
.resultPic{
  background-position: center;
  background-size: cover;
  border:1px solid black;
  min-height: 20vh;
  width: 100%;
  border-radius: .5vw;
}
.SearchForm{
  display: flex;
  flex-direction: column;
  border: 1px solid #0D0D0D;
  box-shadow: -.5px -.5px 1.5px 1.5px #274001;
  background-color: rgba(255, 255, 255, 0.79);
  opacity: 1;
  align-items: center;
  border-radius: 1vh;
  width: 65vw;
}
.searchAuthForm{
  display: flex;
  flex-direction: column;
  width: 50vw;
  justify-self: center;
  border: 1px solid black;
  padding: 1vw;
  text-align: left;
  border-radius: .5vh;
  margin-bottom: 2vh;
  margin-top: 1vh;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: .7px;
}

.beSpecific{
  display: flex;
  
  box-shadow: -1px -1px 2.5px 2.5px #274001;
  background: -webkit-linear-gradient(90deg, #274001 10%, #0D0D0D 80%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #274001  10%, #0D0D0D 80%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #274001  10%, #0D0D0D 80%); /* IE10 */
  background:      -o-linear-gradient(90deg, #274001  10%, #0D0D0D 80%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #274001  10%, #0D0D0D 80%); /* W3C */
  border-top-left-radius:1vh ;
  border-top-right-radius:1vh ;
  justify-content:space-evenly;
  align-items: center;
  padding: .5vh;
  width: 70vw;
  color: #F27F1B;
  font-size: 25px;
  letter-spacing: 1px;

}
.beSpecificButton{
  width: 4vw;
  height: 4vh;
  border-radius: 2vh;
  border: 1px solid black;


}
.searchSelection{
  width: 30vh;
  height: 3vh;
  text-align: center;
  margin: 2vw;
  font-size: large;
}
.searchInput{
  width: 30vh;
  height: 2.5vh;
  text-align: center;
  margin: 2vw;
  font-size: large;
}
.searchformInput{
  margin-right: 1vw;
  margin-top: 1vh;
  display: flex;
  flex-direction: column;
  
}
.searchformInputSubmit{
  display: flex;
  align-self: center;
  margin-top: 1vh;
  margin-left: 2vw;
}


/* ________________SEARCH PAGE END____________________ */


/* ________________SINGLE RECIPE____________________ */
.recipe{
  border: 1px solid #274001;
  box-shadow: -1px -1px 8px 1px #274001;
  margin: 2vh;
  display: flex;
  flex-direction: column;
}
.deleteRecipe{
position: absolute;
background:white;
border: 1px solid black;
border-radius: 4px;
}
.deleteRecipe:hover{
  background:#274001 ;
  color: white;
}
.recipeTitle{
  margin-bottom: 4vh;
  text-decoration:underline;
}
.SingleRecipe{
  display: flex;
  flex-direction: column;
  background: white;
  padding: 2vw;
  border-radius: 1vh;
  border: 1px solid #274001;
  box-shadow: -1px -1px 8px 1px #274001;
  font-weight: 600;
  font-size: 20px;
  
}
.SingleRecipePage{
  padding: 2vh;
  border: 1px solid #274001;
  box-shadow: -1px -1px 8px 1px #274001;
  border-radius: 1vh;
  margin: 5vh;

}
.diet-Ingredients{
  display: flex;
  justify-content:space-evenly;
  align-items: center;
}
.RecipeDiets{
  display: flex;
  flex-direction: column;
  
}
.RecipeDiets h3{
margin: 0;
}
.RecipeDiets li{
  list-style-type:circle;
  text-align: left;

}
.SingleRecipePic{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  width: 30vw;
  height: 50vh;
  justify-self: center;
  border: 1px solid #274001;
  box-shadow: -1px -1px 8px 1px #274001;
  border-radius: 1vh;
}
.RecipeIngredients{
  margin: 0;
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  text-align: left;
}
.RecipeIngredients h3{
  text-align: left;
  /* border:1px solid blue; */
  padding: 1vw;
  margin: 0;
}
.RecipeIngredients li{
  list-style:outside;
  list-style-type: circle;
  margin-top: 1vh;
  
}
.RecipeInstructions{text-align: left;
  line-height: 3vh;
  word-spacing: 0.3vw;
}
.singleRecipeButtons{
  margin-bottom: 5vh;
  display: flex;
  justify-content: space-between;
}
/* ________________SINGLE RECIPE END____________________ */

/* _____________ALL RECIPES PAGE______________ */

.allRecipesPageBanner{
  background-image: url('../src/img/colorBanner.jpeg');
  height: 15vh;
  background-size: cover;
  background-position: center;
  border: 1px solid #274001;
  box-shadow: -1px -1px 2.5px 2.5px #274001;
 
}

.allTheRecipeSection{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* _____________ALL RECIPES PAGE END______________ */


/* ______________DON'T CHANGE BELOW CODES_________ */
.res{
  width: 90vw;
  height: 90vh;
  border: 1px solid black;
}
/*_________ INGREDIENTS LIST__________ */


#spoonacular-ingredient-vis-list{
  display:none;
}

#spoonacular-ingredients-menu a{
  display: none;
}

#spoonacularView{
  display:none;
}


.pic{
  width: 50vw;
  height: 50vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


/* ------LOADING PAGE-------- */

.spin::before {
  animation: .4s linear infinite spinner;
  animation-play-state: inherit;
  border: solid 5px #2499bdee;
  border-bottom-color: #0412acac;
  border-radius: 50%;
  content: "";
  height: 50px;
  width: 50px;
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate3d(-50%, -50%, 0);
  will-change: transform;
}

@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

@media only screen and (max-width: 600px) {
  .singleResult{
    font-size: 15px;
    align-items: center;
    width: 80vw;
    height: 30vh;
   
  }
}

@media only screen and (min-width: 600px) and (max-width:900px) {
  .singleResult{
    font-size: 15px;
    align-items: center;
    width: 50vw;
    height: 30vh;
   
  }
}