.mg-l-Sm {
  margin-left: 5px !important;
}

.mg-r-Sm {
  margin-right: 5px !important;
}

.mg-t-Sm {
  margin-top: 5px !important;
}

.mg-b-Sm {
  margin-bottom: 5px !important;
}

.mg-x-Sm {
  margin: 0px 5px !important;
}

.mg-y-Sm {
  margin: 5px !important;
}

.mg-l-Md {
  margin-left: 10px !important;
}

.mg-r-Md {
  margin-right: 10px !important;
}

.mg-t-Md {
  margin-top: 10px !important;
}

.mg-b-Md {
  margin-bottom: 10px !important;
}

.mg-x-Md {
  margin: 0px 10px !important;
}

.mg-y-Md {
  margin: 10px !important;
}

.mg-l-Lg {
  margin-left: 12px !important;
}

.mg-r-Lg {
  margin-right: 12px !important;
}

.mg-t-Lg {
  margin-top: 12px !important;
}

.mg-b-Lg {
  margin-bottom: 12px !important;
}

.mg-x-Lg {
  margin: 0px 12px !important;
}

.mg-y-Lg {
  margin: 12px !important;
}

.mg-l-Xl {
  margin-left: 15px !important;
}

.mg-r-Xl {
  margin-right: 15px !important;
}

.mg-t-Xl {
  margin-top: 15px !important;
}

.mg-b-Xl {
  margin-bottom: 15px !important;
}

.mg-x-Xl {
  margin: 0px 15px !important;
}

.mg-y-Xl {
  margin: 15px !important;
}

.pd-l-Sm {
  padding-left: 5px !important;
}

.pd-r-Sm {
  padding-right: 5px !important;
}

.pd-t-Sm {
  padding-top: 5px !important;
}

.pd-b-Sm {
  padding-bottom: 5px !important;
}

.pd-x-Sm {
  padding: 0px 5px !important;
}

.pd-y-Sm {
  padding: 5px !important;
}

.pd-l-Md {
  padding-left: 10px !important;
}

.pd-r-Md {
  padding-right: 10px !important;
}

.pd-t-Md {
  padding-top: 10px !important;
}

.pd-b-Md {
  padding-bottom: 10px !important;
}

.pd-x-Md {
  padding: 0px 10px !important;
}

.pd-y-Md {
  padding: 10px !important;
}

.pd-l-Lg {
  padding-left: 12px !important;
}

.pd-r-Lg {
  padding-right: 12px !important;
}

.pd-t-Lg {
  padding-top: 12px !important;
}

.pd-b-Lg {
  padding-bottom: 12px !important;
}

.pd-x-Lg {
  padding: 0px 12px !important;
}

.pd-y-Lg {
  padding: 12px !important;
}

.pd-l-Xl {
  padding-left: 15px !important;
}

.pd-r-Xl {
  padding-right: 15px !important;
}

.pd-t-Xl {
  padding-top: 15px !important;
}

.pd-b-Xl {
  padding-bottom: 15px !important;
}

.pd-x-Xl {
  padding: 0px 15px !important;
}

.pd-y-Xl {
  padding: 15px !important;
}

.flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.alignItems-center {
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.justifyContent-center {
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

.notValid {
  color: rgba(181, 6, 6, 0.846) !important;
}

.valid {
  color: rgba(6, 141, 6, 0.921) !important;
}

.hg-100 {
  height: 100% !important;
}

.wdt-100 {
  width: 100% !important;
}

.text-bold {
  font-weight: 700;
}

.hide {
  display: none !important;
}

@font-face {
  font-family: "Quicksand";
  src: url("./fonts/Quicksand-VariableFont_wght.ttf");
}

html {
  padding: 0;
  margin: 0;
  font-family: "Quicksand";
  max-width: 100vw !important;
}

html .App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  max-width: 100% !important;
}

.button {
  border-radius: 10px !important;
  font-family: "Quicksand" !important;
  font-size: 18px !important;
  font-weight: 500;
  text-decoration: none !important;
  border: none !important;
  margin: 0px !important;
  width: 105px !important;
  padding: 3px 0 !important;
  -webkit-transition: scale ease-in-out 0.2s !important;
  transition: scale ease-in-out 0.2s !important;
}

.button a {
  text-decoration: none;
  color: #333333 !important;
}

.button.small {
  font-size: 14px !important;
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  padding: 2px 10px !important;
}

.button.light {
  background-color: #A3D9A5 !important;
  color: #333333 !important;
  border: 1px solid #333333 !important;
}

.button.light:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #333333 !important;
  color: #A3D9A5 !important;
  -webkit-box-shadow: 4px 4px 4px #A3D9A5 !important;
          box-shadow: 4px 4px 4px #A3D9A5 !important;
}

.button.light:hover a {
  text-decoration: none !important;
  color: #A3D9A5 !important;
}

.button.dark {
  background-color: #333333 !important;
  color: #A3D9A5 !important;
}

.button.dark a {
  text-decoration: none;
  color: #A3D9A5 !important;
}

.button.dark:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #A3D9A5 !important;
  color: #333333 !important;
  -webkit-box-shadow: 4px 4px 4px #333333 !important;
          box-shadow: 4px 4px 4px #333333 !important;
}

.button.dark:hover a {
  text-decoration: none;
  color: #333333 !important;
}

.button:active {
  scale: 1;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.error {
  color: rgba(217, 6, 6, 0.846) !important;
  font-size: 14px !important;
  margin: 5px 0px !important;
  font-weight: 600;
}

.signupLoginForm {
  font-family: "Quicksand";
  color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 390px;
}

.signupLoginForm h1 {
  margin: 20px 0px !important;
  font-weight: 600 !important;
  font-size: 34px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 99;
  position: relative;
}

.signupLoginForm h1::before {
  content: '';
  position: absolute;
  bottom: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 110%;
  height: 40%;
  background-color: #ffa69e81;
  z-index: -1;
}

.signupLoginForm form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.signupLoginForm form .formInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

.signupLoginForm form .formInput label {
  font-size: 16px;
  font-weight: 600;
  text-align: left;
}

.signupLoginForm form .formInput input {
  font-size: 16px;
  padding: 5px;
  -webkit-box-shadow: 4px 4px 4px #00000035;
          box-shadow: 4px 4px 4px #00000035;
  border: none;
  outline: none;
}

.signupLoginForm form .formInput.error {
  color: rgba(217, 6, 6, 0.846) !important;
  margin-bottom: 5px;
}

.signupLoginForm form .buttonsForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.signupLoginForm form .buttonsForm .loginLink {
  color: #333333;
  text-decoration: none;
  font-weight: bolder;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.signupLoginForm form .buttonsForm .loginLink:hover {
  scale: 1.1;
  cursor: pointer;
}

.signupLoginForm form .buttonsForm .logSignCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.signupLoginForm form .buttonsForm .logSignCont p {
  font-weight: bolder;
  font-size: 18px;
  margin-left: 5px;
}

.signupLoginForm form .buttonsForm .logSignCont p:hover {
  scale: 1.1;
  cursor: pointer;
}

/* _____________________NAVIGATION BAR____________________ */
.links {
  text-decoration: none;
  color: #F2C53D;
}

.links:hover {
  text-decoration: underline;
}

.homePageLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 3vw;
  font-size: 30px;
  color: #F2C53D;
}

.homePageLinks p {
  margin-left: 2vw;
}

.userNavigation p {
  margin-left: 6vw;
}

/*USER MENU  */
.menuBar {
  position: relative;
  margin-left: 20px;
  display: inline-block;
}

.menuBar p:hover {
  color: #b8b8b8;
  text-shadow: 1px 1px #000000;
  cursor: pointer;
}

.menuLinks {
  position: absolute;
  /* left: -4vw; */
  display: none;
  /* Chrome 10+, Saf5.1+ */
  /* FF3.6+ */
  /* IE10 */
  /* Opera 11.10+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(10%, #274001), color-stop(80%, #0D0D0D));
  background: linear-gradient(90deg, #274001 10%, #0D0D0D 80%);
  /* W3C */
  z-index: 1;
  -webkit-animation: growDown 300ms;
          animation: growDown 300ms;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid black;
}

@-webkit-keyframes growDown {
  0% {
    -webkit-transform: translateX(-70%);
            transform: translateX(-70%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes growDown {
  0% {
    -webkit-transform: translateX(-70%);
            transform: translateX(-70%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

.menuBar:hover .menuLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menuNavLink:hover {
  color: #F27F1B;
}

/*USER MENU END */
/* ________________NAVIGATION BAR END____________________ */
/* ________________Home page END____________________ */
.HomePage {
  width: 100vw;
  height: 100vh;
  background: white;
}

.HomePage h1 {
  margin-top: 0;
  font-size: 12vh;
}

/* ________________Home page END____________________ */
/* ________________SIGNUP AND LOGIN FORMS END____________________ */
/* ________________USER PAGE____________________ */
.UserPage {
  /* Chrome 10+, Saf5.1+ */
  /* FF3.6+ */
  /* IE10 */
  /* Opera 11.10+ */
  background: -webkit-gradient(linear, left bottom, left top, color-stop(10%, #000000), color-stop(80%, #ffffff));
  background: linear-gradient(0deg, #000000 10%, #ffffff 80%);
  /* W3C */
  background-size: cover;
  background-position: center;
  margin-bottom: 0px;
  padding: 0%;
  height: 100%;
}

.allCatBanner {
  background-image: url("./img/categoryBanner.jpg");
  margin-top: 8vh;
  height: 7vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  border: 1px solid #274001;
  -webkit-box-shadow: -1px -1px 2.5px 2.5px #274001;
          box-shadow: -1px -1px 2.5px 2.5px #274001;
}

.Addcategory {
  margin-left: 85%;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 80px;
  justify-self: center;
  border: 1px solid #0D0D0D;
  /* Chrome 10+, Saf5.1+ */
  /* FF3.6+ */
  /* IE10 */
  /* Opera 11.10+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(10%, #274001), color-stop(80%, #0D0D0D));
  background: linear-gradient(90deg, #274001 10%, #0D0D0D 80%);
  /* W3C */
  padding: 15px;
  border-radius: 1vh;
  font-size: 18px;
  font-weight: 800;
  color: #F2C53D;
  letter-spacing: .8px;
}

/* ________________USER PAGE END____________________ */
/* ________________CATEGORY SECTION____________________ */
.CategorySection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: -1px -1px 2.5px 2.5px #274001;
          box-shadow: -1px -1px 2.5px 2.5px #274001;
  margin-top: 12vh;
  margin-left: 0;
  margin-right: 0;
  padding: 1.5vh;
  border-radius: 5px;
  background-image: url("./img/honeyBack.jpeg");
  background-size: cover;
  background-position: center;
  opacity: 1;
}

.deleteCat {
  height: 3vh;
  position: absolute;
  right: 15vw;
  background: none;
  border: none;
  font-size: 20px;
  font-family: 'Luxurious Roman', cursive;
  font-weight: 900;
  letter-spacing: .8px;
}

.deleteCat:hover {
  text-decoration: underline;
}

.deleteCat:active {
  color: #F27F1B;
}

.addRecipeButton {
  height: 3vh;
  background: none;
  border: none;
  font-size: 20px;
  font-family: 'Luxurious Roman', cursive;
  font-weight: 900;
  letter-spacing: .8px;
}

.addRecipeButton:hover {
  text-decoration: underline;
}

.addRecipeButton:active {
  color: #F27F1B;
}

.allCategories {
  margin: 2vh;
}

.allTheCategories {
  margin: 2vw;
  padding: 2vh;
  -webkit-box-shadow: -1px -1px 8.5px 5.5px #274001d4;
          box-shadow: -1px -1px 8.5px 5.5px #274001d4;
  border-radius: 1vh;
}

.removeRecipe {
  height: 23px;
  width: 23px;
  position: relative;
  margin-bottom: 1vh;
  margin-top: 1vh;
  border-radius: 50%;
  border: 2px solid black;
}

.removeRecipe:hover {
  background: #F27F1B;
}

/* ________________CATEGORY SECTION END____________________ */
/* ________________SINGLE CATEGORY____________________ */
.singleCat {
  border: 1px solid #0D0D0D;
  margin: 1vh;
  border-radius: 1vh;
  background-color: #fdfcfc;
  min-height: 33vh;
  margin-top: 7vh;
  margin-bottom: 2vh;
  padding: 1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: scroll;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  opacity: 1;
}

.categoryTitle {
  position: absolute;
  margin-left: 1vw;
  -webkit-box-shadow: -1px -1px 2.5px 2.5px #274001;
          box-shadow: -1px -1px 2.5px 2.5px #274001;
  border-radius: 3px;
  margin-top: 1vh;
  padding-bottom: 1vh;
  width: 25vw;
  height: 3vh;
  font-size: 25px;
  font-weight: 900;
  letter-spacing: 1px;
  background: #ffffff;
  opacity: 1;
  text-shadow: 1px 1px #274001;
}

.linksRecipe:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* ________________SINGLE CATEGORY END____________________ */
/* ________________ SEARCH PAGE____________________ */
.SearchSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid black;
  padding: 2vw;
  background-image: url("./img/eggs.jpg");
  background-position: center;
  background-size: cover;
  opacity: 1;
  height: 90vh;
  overflow: scroll;
}

.resultsSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90vw;
  height: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  justify-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 1vh;
  padding: 2vh;
  margin-top: 4vh;
  border: 1px solid #0D0D0D;
  -webkit-box-shadow: -1px -1px 2.5px 2.5px #274001;
          box-shadow: -1px -1px 2.5px 2.5px #274001;
  background-color: rgba(255, 255, 255, 0.81);
}

@-webkit-keyframes rotation {
  0% {
    object-fit: cover;
  }
  50% {
    object-fit: none;
    width: 110%;
    height: 25vh;
  }
  100% {
    object-fit: cover;
  }
}

@keyframes rotation {
  0% {
    -o-object-fit: cover;
       object-fit: cover;
  }
  50% {
    -o-object-fit: none;
       object-fit: none;
    width: 110%;
    height: 25vh;
  }
  100% {
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@-webkit-keyframes rotationInv {
  0% {
    object-fit: cover;
  }
  50% {
    object-fit: none;
    width: 90%;
    height: 18vh;
  }
  100% {
    object-fit: cover;
  }
}

@keyframes rotationInv {
  0% {
    -o-object-fit: cover;
       object-fit: cover;
  }
  50% {
    -o-object-fit: none;
       object-fit: none;
    width: 90%;
    height: 18vh;
  }
  100% {
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.resultPic {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid black;
  height: 75%;
  width: 100%;
  border-radius: .5vw;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.resultPicSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20%;
  margin-top: 1%;
  padding-bottom: 2%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2%;
  width: 100%;
}

.SearchForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #0D0D0D;
  -webkit-box-shadow: -.5px -.5px 1.5px 1.5px #274001;
          box-shadow: -.5px -.5px 1.5px 1.5px #274001;
  background-color: rgba(255, 255, 255, 0.79);
  opacity: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 1vh;
  width: 65vw;
}

.searchAuthForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50vw;
  justify-self: center;
  border: 1px solid black;
  padding: 1vw;
  text-align: left;
  border-radius: .5vh;
  margin-bottom: 2vh;
  margin-top: 1vh;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: .7px;
}

.beSpecific {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: -1px -1px 2.5px 2.5px #274001;
          box-shadow: -1px -1px 2.5px 2.5px #274001;
  /* Chrome 10+, Saf5.1+ */
  /* FF3.6+ */
  /* IE10 */
  /* Opera 11.10+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(10%, #274001), color-stop(80%, #0D0D0D));
  background: linear-gradient(90deg, #274001 10%, #0D0D0D 80%);
  /* W3C */
  border-top-left-radius: 1vh;
  border-top-right-radius: 1vh;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .5vh;
  width: 70vw;
  color: #F27F1B;
  font-size: 25px;
  letter-spacing: 1px;
}

.beSpecificButton {
  width: 4vw;
  height: 4vh;
  border-radius: 2vh;
  border: 1px solid black;
}

.searchformInput {
  margin-right: 1vw;
  margin-top: 1vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.searchformInputSubmit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  margin-top: 1vh;
  margin-left: 2vw;
}

/* ________________SEARCH PAGE END____________________ */
/* ________________SINGLE RECIPE____________________ */
.recipe {
  border: 1px solid #274001;
  -webkit-box-shadow: -1px -1px 8px 1px #274001;
          box-shadow: -1px -1px 8px 1px #274001;
  margin: .5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: white;
  padding: 1vh;
}

.deleteRecipe {
  position: absolute;
  background: white;
  border: 1px solid black;
  border-radius: 4px;
}

.deleteRecipe:hover {
  background: #274001;
  color: white;
}

.recipeTitle {
  margin-bottom: 4vh;
  text-decoration: underline;
}

.recipeHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.SingleRecipePage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2vh;
  border: 1px solid #274001;
  -webkit-box-shadow: -1px -1px 8px 1px #274001;
          box-shadow: -1px -1px 8px 1px #274001;
  border-radius: 1vh;
  margin: 2vh;
  background: white;
  font-size: 20px;
  height: 91vh;
  overflow: scroll;
  scrollbar-base-color: #fcfcfc00;
}

.diet-Ingredients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.RecipeDiets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.RecipeDiets h3 {
  margin: 0;
  text-align: left;
}

.RecipeDiets li {
  list-style-type: circle;
  text-align: left;
}

.SingleRecipePic {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  height: 50vh;
  justify-self: center;
  border: 1px solid #274001;
  -webkit-box-shadow: -1px -1px 8px 1px #274001;
          box-shadow: -1px -1px 8px 1px #274001;
  border-radius: 1vh;
}

.RecipeIngredients {
  margin-left: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

.RecipeIngredients h3 {
  text-align: left;
  padding: 1vw;
  margin: 0;
}

.RecipeIngredients li {
  list-style: outside;
  list-style-type: circle;
  margin-top: 1vh;
}

.RecipeInstructions {
  text-align: left;
  line-height: 3vh;
  word-spacing: 0.3vw;
}

.singleRecipeButtons {
  margin-bottom: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* ________________SINGLE RECIPE END____________________ */
/* _____________ALL RECIPES PAGE______________ */
.allRecipesPageBanner {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: 15vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  border: 1px solid #274001;
  -webkit-box-shadow: -1px -1px 2.5px 2.5px #274001;
          box-shadow: -1px -1px 2.5px 2.5px #274001;
}

.backsRecipes {
  background: #F2A922;
  color: white;
  font-size: xx-large;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  left: 1%;
  top: 50%;
  border: 2px solid #F2A922;
  border-radius: 5px;
}

.backsRecipes:hover {
  background: #F27F1B;
  color: #fcfcfc;
}

.allTheRecipeSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* _____________ALL RECIPES PAGE END______________ */
/* ______________DON'T CHANGE BELOW CODES_________ */
.res {
  width: 90vw;
  height: 90vh;
  border: 1px solid black;
}

/*_________ INGREDIENTS LIST__________ */
#spoonacular-ingredient-vis-list {
  display: none;
}

#spoonacular-ingredients-menu a {
  display: none;
}

#spoonacularView {
  display: none;
}

.pic {
  width: 50vw;
  height: 50vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
}

/* ------LOADING PAGE-------- */
.spin::before {
  -webkit-animation: .4s linear infinite spinner;
          animation: .4s linear infinite spinner;
  -webkit-animation-play-state: inherit;
          animation-play-state: inherit;
  border: solid 5px #2499bdee;
  border-bottom-color: #0412acac;
  border-radius: 50%;
  content: "";
  height: 50px;
  width: 50px;
  position: fixed;
  top: 50vh;
  left: 50vw;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  will-change: transform;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(0deg);
            transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(360deg);
            transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(0deg);
            transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(360deg);
            transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

@media only screen and (max-width: 600px) {
  .singleResult {
    font-size: 15px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80vw;
    height: 30vh;
  }
  .AuthForm {
    width: 80%;
  }
  .diet-Ingredients {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .SingleRecipePic {
    width: 100%;
  }
  .allRecipesPageBanner {
    position: absolute;
    top: 8vh;
    left: 0%;
    /* z-index: 1; */
  }
  .allTheRecipes {
    position: absolute;
    margin-top: 25vh;
    z-index: 0;
  }
  .menuLinks {
    z-index: 1;
  }
  html {
    background: white;
  }
  .backsRecipes {
    position: fixed;
    top: 10%;
    left: 0%;
    z-index: +1;
  }
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
  .singleResult {
    font-size: 15px;
    width: 50vw;
    height: 30vh;
  }
  .AuthForm {
    width: 70%;
  }
}

@media only screen and (min-width: 1500px) {
  .singleResult {
    font-size: 15px;
    width: 10vw;
    height: 30vh;
  }
  .singleCat {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .SingleRecipePage {
    width: 85%;
    margin-left: 7.5%;
  }
}

@media only screen and (min-width: 1200px) {
  .SingleRecipePic {
    width: 40%;
  }
  .diet-Ingredients {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

/* Commmon class */
.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.width-90 {
  width: 90%;
}

.height-50 {
  height: 50%;
}

.justifyBetween {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-align-items-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.ml-5 {
  margin-left: 5px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-15 {
  margin-left: 15px;
}

.ml-20 {
  margin-left: 20px;
}

.mr-5 {
  margin-right: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-15 {
  margin-right: 15px;
}

.mr-20 {
  margin-right: 20px;
}

.justify-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
}

.align-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hover-darker:hover {
  color: #F27F1B;
}

.button-orange {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 15px;
  background: #F2A922;
  color: black;
  justify-self: center;
  border: none;
  border-radius: 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Luxurious Roman', cursive;
  font-weight: bolder;
}

.button-orange:hover {
  -webkit-box-shadow: 1px 1px 5px 1px orange;
          box-shadow: 1px 1px 5px 1px orange;
}

.alert {
  padding: 10px;
  background-color: #F27F1B;
  font-weight: bold;
  font-size: 23px;
}

.closebtn {
  margin-right: 15px;
  color: black;
  font-weight: bold;
  float: right;
  font-size: 22px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.closebtn:hover {
  color: white;
}
/*# sourceMappingURL=App.css.map */